/*@font-face {font-family: "Museo Sans 600"; src: url("//db.onlinewebfonts.com/t/3b12f78c783e678acc1f0fefe8e46380.eot"); src: url("//db.onlinewebfonts.com/t/3b12f78c783e678acc1f0fefe8e46380.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/3b12f78c783e678acc1f0fefe8e46380.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/3b12f78c783e678acc1f0fefe8e46380.woff") format("woff"), url("//db.onlinewebfonts.com/t/3b12f78c783e678acc1f0fefe8e46380.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/3b12f78c783e678acc1f0fefe8e46380.svg#Museo Sans 300") format("svg"); }*/
@font-face {font-family: "Museo Sans 500"; src: url("//db.onlinewebfonts.com/t/16697a764b01cdcc691b05f001046bc3.eot"); src: url("//db.onlinewebfonts.com/t/16697a764b01cdcc691b05f001046bc3.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/16697a764b01cdcc691b05f001046bc3.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/16697a764b01cdcc691b05f001046bc3.woff") format("woff"), url("//db.onlinewebfonts.com/t/16697a764b01cdcc691b05f001046bc3.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/16697a764b01cdcc691b05f001046bc3.svg#Museo Sans 500") format("svg"); }
body{
font-family: "Museo Sans 500", sans-serif !important;
font-style: normal;
font-weight: 500;
}
.logo {
    position: static;
    float: left;
    width: 50%;
    text-align: center;
    margin: 0;
}
.card-header-gvf
{
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #B91817;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    color:#fff;
}

.btn-primary-gvf {
    color: #fff;
    background-color: #9ED115;
    border-color: #9ED115;
}
/*th
{
    background-color: #8ACFDD;
    color: #fff;
    font-weight: 700;
}*/
.py-4-gvf
{
    padding-top: 0 auto;
}
.footer-style
{
bottom: 0;
width: 100%;
height: 100%;
line-height: 20px;
background-color: #8ACFDD;
color: #fff;
}
container-gvf 
{
color: #fff;
}
.form-check-input1 {
    position: absolute;
    margin-top: 0.3rem;
    margin-left: -1.25rem;
}
.circulo { 
    border: 2px solid  #d9534f;; 
    padding: 10px 40px; 
    background:  #d9534f;; 
    width: 1px; 
    height: 60px; 
    border-radius: 100px; 
    transform: scale(0.5, 0.5); 
} 
